<div class="container">
  <div class="header"><h1>Check out your bookings!</h1></div>

<% if @bookings.empty? %>
  <h3>You don´t have any bookings yet! </h3>
<% else %>
  <h2>Pending Reservations:</h2>

  <div class="bookings">
    <% @pendings.each do |booking| %>
      <hr>
      <%=link_to booking_path(booking), class: "bookings-card" do %>
        <% if booking.desk.photo.attached? %>
          <%= cl_image_tag booking.desk.photo.key %>
        <% else %>
            <%= image_tag "https://media.istockphoto.com/photos/closeup-of-stacks-of-paper-from-receipts-and-documents-picture-id694767254?b=1&k=20&m=694767254&s=170667a&w=0&h=zIX2cwlFRN0bWAUcqq3pA0nsNSv4_ZJmOCm3-RLor04=" %>
        <% end %>
        <div class="bookings-card-mid">
          <h2> <%= booking.desk.title %></h2>
          <p>Booked from <%= booking.start_date %> until <%= booking.end_date %></p>
          <p> <%= booking.user.first_name %> 💌: <%= booking.comment %> </p>
        </div>
        <div class="bookings-card-bottom">
          <div class="avatar-bordered">
           <% if booking.desk.user.photo.attached? %>
              <%= cl_image_tag booking.desk.user.photo.key %>
            <% else %>
              <%= image_tag "https://media.istockphoto.com/vectors/user-profile-icon-vector-avatar-portrait-symbol-flat-shape-person-vector-id1270368615?k=20&m=1270368615&s=170667a&w=0&h=qpvA8Z6L164ZcKfIyOl-E8fKnfmRZ09Tks7WEoiLawA=" %>
            <% end %>
            <%# <%= cl_image_tag booking.desk.user.photo.key %>
          </div>
          <div class="sings">
          <% if booking.confirmation == "pending" %>
            <div class="sign">
              <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
              <lord-icon
                  src="https://cdn.lordicon.com/kbtmbyzy.json"
                  trigger="loop"
                  colors="primary:#99a799,secondary:#f9a051"
                  style="width:40px;height:40px">
              </lord-icon>
            </div>
          <% elsif booking.confirmation == "accepted" %>
            <div class="sign">
            <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
              <lord-icon
                  src="https://cdn.lordicon.com/jvihlqtw.json"
                  trigger="loop"
                  colors="primary:#99a799,secondary:#99a799"
                  style="width:40px;height:40px">
              </lord-icon>
            </div>
          <% else %>
            <div class="sign">
            <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
              <lord-icon
                  src="https://cdn.lordicon.com/zpmqckup.json"
                  trigger="loop"
                  colors="primary:#99a799,secondary:#f9a051"
                  style="width:40px;height:40px">
              </lord-icon>
            </div>
          <% end %>
          </div>
          <div class="price"><h2>Total: <%= (((booking.end_date - booking.start_date).to_i) * (booking.desk.price/100).round + ((booking.desk.price/100).round)) %>€</h2></div>
        </div>
      <% end %>
    <% end %>
    <hr>
  </div>
  <h2>Confirmed Bookings:</h2>
  <div class="bookings">
    <% @confirmed.each do |booking| %>
      <hr>
      <%=link_to booking_path(booking), class: "bookings-card" do %>
        <% if booking.desk.photo.attached? %>
          <%= cl_image_tag booking.desk.photo.key %>
        <% else %>
            <%= image_tag "https://media.istockphoto.com/photos/closeup-of-stacks-of-paper-from-receipts-and-documents-picture-id694767254?b=1&k=20&m=694767254&s=170667a&w=0&h=zIX2cwlFRN0bWAUcqq3pA0nsNSv4_ZJmOCm3-RLor04=" %>
        <% end %>
        <div class="bookings-card-mid">
          <h2> <%= booking.desk.title %></h2>
          <p>Booked from <%= booking.start_date %> until <%= booking.end_date %></p>
          <p> <%= booking.user.first_name %> 💌: <%= booking.comment %> </p>
        </div>
        <div class="bookings-card-bottom">
          <div class="avatar-bordered">
            <%= cl_image_tag booking.desk.user.photo.key %>
          </div>
          <div class="sings">
          <% if booking.confirmation == "pending" %>
            <div class="sign">
              <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
              <lord-icon
                  src="https://cdn.lordicon.com/kbtmbyzy.json"
                  trigger="loop"
                  colors="primary:#99a799,secondary:#f9a051"
                  style="width:40px;height:40px">
              </lord-icon>
            </div>
          <% elsif booking.confirmation == "accepted" %>
            <div class="sign">
            <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
              <lord-icon
                  src="https://cdn.lordicon.com/jvihlqtw.json"
                  trigger="loop"
                  colors="primary:#99a799,secondary:#99a799"
                  style="width:40px;height:40px">
              </lord-icon>
            </div>
          <% else %>
            <div class="sign">
            <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
              <lord-icon
                  src="https://cdn.lordicon.com/zpmqckup.json"
                  trigger="loop"
                  colors="primary:#99a799,secondary:#f9a051"
                  style="width:40px;height:40px">
              </lord-icon>
            </div>
          <% end %>
          </div>
          <div class="price"><h2>Total: <%= (((booking.end_date - booking.start_date).to_i) * (booking.desk.price/100).round + ((booking.desk.price/100).round)) %>€</h2></div>
        </div>
      <% end %>
    <% end %>
    <hr>
  </div>
  <h2>Rejected Bookings:</h2>
  <div class="bookings">
    <% @declined.each do |booking| %>
      <hr>
      <%=link_to booking_path(booking), class: "bookings-card" do %>
        <% if booking.desk.photo.attached? %>
          <%= cl_image_tag booking.desk.photo.key %>
        <% else %>
            <%= image_tag "https://media.istockphoto.com/photos/closeup-of-stacks-of-paper-from-receipts-and-documents-picture-id694767254?b=1&k=20&m=694767254&s=170667a&w=0&h=zIX2cwlFRN0bWAUcqq3pA0nsNSv4_ZJmOCm3-RLor04=" %>
        <% end %>
        <div class="bookings-card-mid">
          <h2> <%= booking.desk.title %></h2>
          <p>Booked from <%= booking.start_date %> until <%= booking.end_date %></p>
          <p> <%= booking.user.first_name %> 💌: <%= booking.comment %> </p>
        </div>
        <div class="bookings-card-bottom">
          <div class="avatar-bordered">
            <%= cl_image_tag booking.desk.user.photo.key %>
          </div>
          <div class="sings">
          <% if booking.confirmation == "pending" %>
            <div class="sign">
              <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
              <lord-icon
                  src="https://cdn.lordicon.com/kbtmbyzy.json"
                  trigger="loop"
                  colors="primary:#99a799,secondary:#f9a051"
                  style="width:40px;height:40px">
              </lord-icon>
            </div>
          <% elsif booking.confirmation == "accepted" %>
            <div class="sign">
            <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
              <lord-icon
                  src="https://cdn.lordicon.com/jvihlqtw.json"
                  trigger="loop"
                  colors="primary:#99a799,secondary:#99a799"
                  style="width:40px;height:40px">
              </lord-icon>
            </div>
          <% else %>
            <div class="sign">
            <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
              <lord-icon
                  src="https://cdn.lordicon.com/zpmqckup.json"
                  trigger="loop"
                  colors="primary:#99a799,secondary:#f9a051"
                  style="width:40px;height:40px">
              </lord-icon>
            </div>
          <% end %>
          </div>
          <div class="price"><h2>Total: <%= (((booking.end_date - booking.start_date).to_i) * (booking.desk.price/100).round + ((booking.desk.price/100).round)) %>€</h2></div>
        </div>
      <% end %>
    <% end %>
    <hr>
  </div>
<% end %>
</div>
