<div class="container">
  <div class="form-container">
    <h2>Create a new booking</h2>
    <div class="form">
    <%= simple_form_for [@desk, @booking] do |f|%>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :comment %>
    <div class="btn btn-normal btn-cta"><%= f.button :submit %></div>
    <% end %>
    </div>
  </div>
</div>
