<div class="container">
  <div class="booking-show-card">
    <h2>You booked the "<%= @desk.title %>" desk!</h2>
    <hr>
    <%= cl_image_tag(@desk.photo.key, width: 300, height: 200, crop: :fill) %>
    <hr>
    <h5>Date: <%= @booking.start_date %></h5>
    <hr>
    <p><%= @desk.description %></p>
    <p><%= @desk.address %></p>
    <p><%= (@desk.price/100).round%>€</p>
    <p>Host: <%= @desk.user.first_name %></p>
     <hr>
    <div class="btn btn-normal"><%= link_to "Back to all bookings", bookings_path %></div>
  </div>
</div>
