<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://64.media.tumblr.com/tumblr_m0dpnpSJef1rqeb09o1_640.jpg);">
      <div class="container">
        <h1 class="big-header">Find your <strong>DreamDesk</strong> among 1000 Apartments now!</h1>
      </div>
    </div>
  </div>
    <div class="container">
      <div class="cards">
        <% @desks.each do |desk| %>
        <%=link_to desk_path(desk), class: "card-trip" do %>
          <%# <div class="card-trip"> %>
            <% if desk.photo.attached? %>
                <%= cl_image_tag desk.photo.key %>
            <% else %>
                <%= image_tag "https://media.istockphoto.com/photos/closeup-of-stacks-of-paper-from-receipts-and-documents-picture-id694767254?b=1&k=20&m=694767254&s=170667a&w=0&h=zIX2cwlFRN0bWAUcqq3pA0nsNSv4_ZJmOCm3-RLor04=" %>
            <% end %>
            <%# <%= cl_image_tag desk.photo.key %>
            <div class="card-trip-infos">
              <div>
                <h2><%= desk.title %></h2>
                <p><%= desk.description.first(80) %></p>
              </div>
              <h2 class="card-trip-pricing"><%= (desk.price/100).round%>€</h2>
              <div class="card-trip-user avatar-bordered">
                <% if desk.user.photo.attached? %>
                  <%= cl_image_tag desk.user.photo.key %>
                <% else %>
                  <%= image_tag "https://media.istockphoto.com/vectors/user-profile-icon-vector-avatar-portrait-symbol-flat-shape-person-vector-id1270368615?k=20&m=1270368615&s=170667a&w=0&h=qpvA8Z6L164ZcKfIyOl-E8fKnfmRZ09Tks7WEoiLawA=" %>
                <% end %>
              </div>
            <%# </div> %>
            </div>
          <% end %>
          <% end %>
      </div>
    </div>
  </div>
</body>
</html>
