<div class="container">
  <div class="form-container">
    <h2>Create a new desk</h2>
    <div class="form">
      <%= simple_form_for [@desk] do |f|%>
      <%= f.input :title %>
      <%= f.input :address %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.input :photo, as: :file, input_html: { class: 'd-none'}, label_html: {class:"upload-photo-btn"}, label: "upload photo"%>
      <div class="btn btn-normal btn-cta"><%= f.button :submit %></div>
      <% end %>
    </div>
  </div>
</div>
