<div class="container">
  <h2><%= @desk.title %></h2>
  <p><%= @desk.description %></p>
  <p><%= @desk.address %></p>
  <h3><%= @desk.price %></h3>
  <p><%= @desk.user.first_name %></p>
  <%= link_to "Create a booking", new_desk_booking_path(@desk) %>
  <%= link_to "Back to all desks", desks_path %>
</div>
