<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="50" height="50"
viewBox="0 0 172 172"
style=" fill:#F8B071;"><g transform="translate(0.516,0.516) scale(0.994,0.994)"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="none" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g fill="#F8B071" stroke="#F8B071" stroke-linejoin="round"><path d="M168.56,27.52v24.08h-6.88v92.88h-6.88v-10.32h-48.16v10.32h-6.88v-92.88h-68.8v92.88h-20.64v-92.88h-6.88v-24.08zM10.32,44.72h2.89578c0.37149,-0.0614 0.75054,-0.0614 1.12203,0h12.63797c0.37149,-0.0614 0.75054,-0.0614 1.12203,0h74.55797c0.37149,-0.0614 0.75054,-0.0614 1.12203,0h53.91797c0.37149,-0.0614 0.75054,-0.0614 1.12203,0h2.86219v-10.32h-151.36zM17.2,137.6h6.88v-86h-6.88zM106.64,72.24h48.16v-20.64h-48.16zM134.16,61.92c0,1.89986 -1.54014,3.44 -3.44,3.44c-1.89986,0 -3.44,-1.54014 -3.44,-3.44c0,-1.89986 1.54014,-3.44 3.44,-3.44c1.89986,0 3.44,1.54014 3.44,3.44zM106.64,99.76h48.16v-20.64h-48.16zM134.16,89.44c0,1.89986 -1.54014,3.44 -3.44,3.44c-1.89986,0 -3.44,-1.54014 -3.44,-3.44c0,-1.89986 1.54014,-3.44 3.44,-3.44c1.89986,0 3.44,1.54014 3.44,3.44zM106.64,127.28h48.16v-20.64h-48.16zM134.16,116.96c0,1.89986 -1.54014,3.44 -3.44,3.44c-1.89986,0 -3.44,-1.54014 -3.44,-3.44c0,-1.89986 1.54014,-3.44 3.44,-3.44c1.89986,0 3.44,1.54014 3.44,3.44z"></path></g><path d="M0,172v-172h172v172z" fill="none" stroke="none" stroke-linejoin="miter"></path><g fill="#F8B071" stroke="none" stroke-linejoin="miter"><path d="M3.44,27.52v3.44v20.64h6.88v92.88h20.64v-92.88h68.8v79.12v3.44v10.32h6.88v-10.32h48.16v10.32h6.88v-10.32v-3.44v-79.12h6.88v-24.08zM10.32,34.4h151.36v10.32h-2.86219c-0.37149,-0.0614 -0.75054,-0.0614 -1.12203,0h-53.91797c-0.37149,-0.0614 -0.75054,-0.0614 -1.12203,0h-74.55797c-0.37149,-0.0614 -0.75054,-0.0614 -1.12203,0h-12.63797c-0.37149,-0.0614 -0.75054,-0.0614 -1.12203,0h-2.89578zM17.2,51.6h6.88v86h-6.88zM106.64,51.6h48.16v20.64h-48.16zM130.72,58.48c-1.89986,0 -3.44,1.54014 -3.44,3.44c0,1.89986 1.54014,3.44 3.44,3.44c1.89986,0 3.44,-1.54014 3.44,-3.44c0,-1.89986 -1.54014,-3.44 -3.44,-3.44zM106.64,79.12h48.16v20.64h-48.16zM130.72,86c-1.89986,0 -3.44,1.54014 -3.44,3.44c0,1.89986 1.54014,3.44 3.44,3.44c1.89986,0 3.44,-1.54014 3.44,-3.44c0,-1.89986 -1.54014,-3.44 -3.44,-3.44zM106.64,106.64h48.16v20.64h-48.16zM130.72,113.52c-1.89986,0 -3.44,1.54014 -3.44,3.44c0,1.89986 1.54014,3.44 3.44,3.44c1.89986,0 3.44,-1.54014 3.44,-3.44c0,-1.89986 -1.54014,-3.44 -3.44,-3.44z"></path></g><path d="" fill="none" stroke="none" stroke-linejoin="miter"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none" stroke="none" stroke-linejoin="miter"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none" stroke="none" stroke-linejoin="miter"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none" stroke="none" stroke-linejoin="miter"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none" stroke="none" stroke-linejoin="miter"></path><path d="" fill="none" stroke="none" stroke-linejoin="miter"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86h0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none" stroke="none" stroke-linejoin="miter"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56h0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none" stroke="none" stroke-linejoin="miter"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86h0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none" stroke="none" stroke-linejoin="miter"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56h0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none" stroke="none" stroke-linejoin="miter"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86h0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none" stroke="none" stroke-linejoin="miter"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56h0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none" stroke="none" stroke-linejoin="miter"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86h0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none" stroke="none" stroke-linejoin="miter"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56h0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none" stroke="none" stroke-linejoin="miter"></path><path d="" fill="none" stroke="none" stroke-linejoin="miter"></path></g></g></svg>
  <% end %>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="nav-bar-links">
    <%= link_to "Book a desk", desks_path, class: "navbar-brand"%>
    <%= link_to "My desks", ownerlistings_path, class: "navbar-brand"%>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <!--  <%= link_to "Sign Up", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Login", "#", class: "nav-link" %>
      </li> -->
      <li class="nav-item dropdown">
        <% if current_user != nil %>
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "https://media.istockphoto.com/vectors/user-profile-icon-vector-avatar-portrait-symbol-flat-shape-person-vector-id1270368615?k=20&m=1270368615&s=170667a&w=0&h=qpvA8Z6L164ZcKfIyOl-E8fKnfmRZ09Tks7WEoiLawA=", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
        <% else %>
            <%= image_tag "https://media.istockphoto.com/vectors/user-profile-icon-vector-avatar-portrait-symbol-flat-shape-person-vector-id1270368615?k=20&m=1270368615&s=170667a&w=0&h=qpvA8Z6L164ZcKfIyOl-E8fKnfmRZ09Tks7WEoiLawA=", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <% if current_user %>
            <%= link_to "My bookings", bookings_path, class: "dropdown-item" %>
            <%= link_to "Offer your desk", new_desk_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          <% else %>
            <%= link_to "Sign Up", new_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>
