<!DOCTYPE html>
<html>
  <head>
    <title>Airdesk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>
  <div class="page-container">
   <% if params[:action] != "home" %>
    <div class="navbar-container">
        <%= render "layouts/navbar" %>
    </div>
    <% end %>
    <div class="content-container">
      <%= yield %>
    </div>
      <p> <%= render '/devise/shared/flashes' %> </p>
        <!--p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>-->
    <% if params[:action] != "home" %>
      <div class="footer-container">
        <%= render "layouts/footer" %>
      </div>
    <% end %>
  </div>

  </body>
</html>
